html {
    height: 100%;
}

body {
    overflow: hidden;
}

.content {
    position: absolute;
    font-family: Arial;
    color: #fff;
    background: #5aa348;
}

button {
    cursor: pointer;
}

.press-start-text {
    color: red;
    font-weight: bold;
}

input,
select,
button {
    font-size: 1em;
}

/* main menu section */

h1 {
    color: black;
}

.main-menu {
    text-align: center;
}

.main-menu h2 {
    font-weight: bold;
}

.rules-list {
    list-style: none;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}

.start-button {
    text-align: center;
    background: rgb(107, 171, 223);
    color: red;
}

/* selecting  */

.letter.selected {
    opacity: 0.5;
}

/* other */

.timer {
    color: white;
    font-size: 150%;
    font-weight: bold;
    margin: auto;
    text-align: end;
}

.win-scene {
    margin: auto;
    text-align: center;
    font-weight: bold;
    color: black;
}

.win-scene ol {
    width: 480px;
    box-sizing: border-box;
    margin: auto;
}

.record-time {
    float: left;
}

/* fade in */

@keyframes fadeIn {
    to {
        opacity: 0;
    }
}

.fade-in {
    opacity: 1;
    animation: fadeIn 1s ease-in 1 forwards;
}